  
  <div *ngIf="songsInPlaylist && songsInPlaylist.length > 0">
     
    <ul>
      <li *ngFor="let song of songsInPlaylist">
        <img src="https://th.bing.com/th/id/OIP.4LAJI5npWsddDHskRW8KJwAAAA?pid=ImgDet&rs=1">
        <h2>Title: {{ song.title }}</h2> 
        <p>Artist: {{ song.artist }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="songsInPlaylist && songsInPlaylist.length === 0">
    <p>No songs found in the playlist.</p>
  </div>
  <div *ngIf="!songsInPlaylist">
    <p>Loading songs in playlist...</p>
  </div>
